@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

:root {
  --white: #fff;
  --main_primary: #179bd9;
  --main_primary_dark: #0d75a6;
  --main_primary_darker: #577b81;
  --main_primary_medium: #5e9bb7;
  --main_primary_light: #8fd8fb;
  --main_primary_lighter: #e1f7fb;
  --main_primary_very_light: #d5eefa;

  --main_secondary: #ed702e;
  --main_secondary_light: #fcdfcf;
  --main_secondary_lighter: #fff9f7;

  --green: #018793;
  --lightgreen: #deeaeb;
  --verylightgreen: #ebf6f7;

  --grey: #737b7d;
  --mediumgrey: #92a1ac;
  --lightgrey: #fafafa;
  --darkgrey: #8497ad;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-default: "Catamaran", sans-serif;
  --font-title: "Dosis", sans-serif;
  --radius-big: 100px;
  --radius-medium: 50px;
  --radius-small: 15px;
  --shadow: 0px 0px 7px 0px #0000001f;
}
