@import url("https://use.typekit.net/msb6uht.css");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --white: #fff;
  --main_primary: #4cccdd;
  --main_primary_dark: #4f737d;
  --main_primary_darker: #213133;
  --main_primary_medium: #a5e5ee;
  --main_primary_light: #e4f8fa;
  --main_primary_lighter: #f6fdfe;

  --main_secondary: olive;
  --main_secondary_light: rgba(254, 91, 94, 0.3);

  --green: #018793;
  --lightgreen: #deeaeb;
  --verylightgreen: #ebf6f7;

  --grey: #737b7d;
  --mediumgrey: #92a1ac;
  --lightgrey: #fafafa;
  --darkgrey: #8497ad;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-default: "proxima-nova", sans-serif;
  --font-title: "Lexend", sans-serif;
  --radius-big: 30px;
  --radius-small: 20px;
  --shadow: 4px 4px #4f737d;
  --shadow-hover: 1px 1px #4f737d;
}
